
.contaner {
    margin: auto;
}
@media screen and (max-width:200px) {
    body {
        background-color: indianred;
    }
    #image-res {
        width:130px;
        margin: auto;
    }
}
@media screen and (min-width:200px) and (max-width:300px) {
    body {
        background-color: indianred;
    }
    #image-res {
        width:180px;
        margin: auto;
    }
}
@media screen and (min-width:300px) and (max-width:360px) {
    body {
        background-color: aliceblue;
    }
    #image-res {
        width:280px;
        margin: auto;
    }
}
@media screen and (min-width:360px) and (max-width:420px) {
    body {
        background-color: cadetblue;
    }
    #image-res {
        width:345px;
        margin: auto;
    }
}
@media screen and (min-width:420px) and (max-width:480px) {
    body {
        background-color: azure;
    }
    #image-res {
        width:410px;
        margin: auto;
    }
}
@media screen and (min-width:480px) and (max-width:540px) {
    body {
        background-color: ButtonFace;
    }
    #image-res {
        width:470px;
        margin: auto;
    }
}
@media screen and (min-width:540px) and (max-width:600px) {
    body {
        background-color: darkslateblue;
    }
    #image-res {
        width:530px;
        margin: auto;
    }
}
@media screen and (min-width:600px) and (max-width:690px) {
    body {
        background-color: darkslategray;
    }
    #image-res {
        width:590px;
        margin: auto;
    }
}
@media screen and (min-width:690px) and (max-width:780px) {
    body {
        background-color: cadetblue;
    }
    #image-res {
        width:670px;
        margin: auto;
    }
}
@media screen and (min-width:780px) and (max-width:990px) {
    body {
        background-color: cadetblue;
        margin: auto;
    }
    #image-res {
        width:750px;
        
    }
}
@media screen and (min-width:990px) and (max-width:1110px) {
    body {
        background-color: aqua;
    }
    #image-res {
        width:970px;
        margin: auto;
    }
}
@media screen and (min-width:1110px) {
    body {
        background-color: aqua;
    }
    #image-res {
        width:1080px;
        margin: auto;
    }
}

